.recipe-form-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .recipe-form-container form {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 20px;
  }
  
  .recipe-form-container .form-group {
    margin-bottom: 20px;
  }
  
  .recipe-form-container .form-group label {
    font-weight: bold;
    display: block;
  }
  
  .recipe-form-container .form-group p {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .recipe-form-container .form-control {
    border-radius: 5px;
  }
  
  .recipe-form-container .btn-primary {
    border-radius: 5px;
    background-color: #FCA375;
    border-color: #007bff;
  }
  
  .recipe-form-container .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  