.recipe-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* para centrar verticalmente el formulario */
  }  
  
  .recipe-form-container form {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 20px;
  }
  
  .recipe-form-container .form-group {
    margin-bottom: 20px;
  }
  
  .recipe-form-container .form-group label {
    font-weight: bold;
    display: block;
  }
  
  .recipe-form-container .form-group p {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .recipe-form-container .form-control {
    border-radius: 5px;
  }
  
  .recipe-form-container .btn-primary {
    border-radius: 5px;
    background-color: #FCA375;
 }

 .Form.Group {
    margin-bottom: 20px;
  }
  
  
 
  