/* 
.recipe-form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .recipe-form-container form {
    margin-top: 20px;
  }
  
  .recipe-form-container label {
    font-weight: bold;
  }
  
  .recipe-form-container p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .recipe-form-container textarea {
    height: 150px;
  }
  
  .recipe-form-container .btn-primary {
    margin-top: 20px;
  }

  .btn-primary {
    background-color: #F2AA85;
    margin-top: 10px;
}
   */

.recipe-form-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
    
  .recipe-form-container label {
    font-weight: bold;
  }
  
  .recipe-form-container input,
  .recipe-form-container textarea,
  .recipe-form-container select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #f0ecec;
  }
  
  .recipe-form-container input[type="text"],
  .recipe-form-container select {
    height: 40px;
  }
  
  .recipe-form-container textarea {
    resize: none;
    height: 150px;
  }
  
  .recipe-form-container .mb-3 {
    margin-bottom: 1rem;
  }
  
  .recipe-form-container .text-end {
    text-align: end;
  }
  
  .recipe-form-container .btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #F2AA85;
    color: #060606;
    border: none;
  }
  
  .recipe-form-container .btn:hover {
    background-color: #F2AA85;
    cursor: pointer;
  }
  
  .recipe-form-container .col {
    display: flex;
    flex-direction: column;
  }
  
  .recipe-form-container .col:first-child {
    grid-column: 1 / 2;
  }
  
  .recipe-form-container .col:last-child {
    grid-column: 2 / 2;
  }
  
  .recipe-form-container .form-group:nth-child(1) {
    grid-row: 1 / 2;
  }
  
  .recipe-form-container .form-group:nth-child(2) {
    grid-row: 2 / 2;
  }
  
  