.category-card .btn-group {
    display: flex;
    justify-content: space-between;
  }
  .btn-group {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }
  .edit {
    background-color: rgba(252, 163, 117, 1);
  }
  
  .btn-group > button:first-child {
    margin-right: 0.5rem;
  }
  
  @media (max-width: 768px) {
    .category-card .btn-group {
      display: flex;
      justify-content: space-between;
    }
    .btn-group {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
    }
    
    .btn-group > button:first-child {
      margin-right: 0.5rem;
    }
  }
  
  .page-link:hover {
    background-color: #f5f5f5;
  }
  
  .page-item.active .page-link {
    margin-right: 0.5rem;
    background-color:rgba(252, 163, 117, 1) ;
    border-color: rgba(252, 163, 117, 1) ;
    }
    
  .category-card {
    height: 100%;
  }
  
  .pagination {
    margin-top: 1rem
  }
  
  .add-category-form {
    margin-top: 2rem;
  }
  
  .add-category-form .form-group {
    margin-bottom: 1rem;
  }
  
  /* Estilos para pantallas pequeñas */
  @media (max-width: 576px) {
    .category-card {
      height: auto;
    }
    .btn-group {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
    }
    
    .btn-group > button:first-child {
      margin-right: 0.5rem;
    }
  }
  
  /* Estilos para pantallas medianas y grandes */
  @media (min-width: 768px) {
    .category-card {
      height: 15rem;
    }
    .btn-group {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
    }
    
    .btn-group > button:first-child {
      margin-right: 0.5rem;
    }
  }
  
  @media (min-width: 992px) {
    .category-card {
      height: 100%;
    }
    .btn-group {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
    }
    
    .btn-group > button:first-child {
      margin-right: 0.5rem;
    }
  }
  