footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #fff;
}

footer a {
  color: #fff;
}

footer p {
  color: #fff;
  margin-bottom: 5px;
  font-weight: bold;
}

.footer-col {
  display: flex;
  flex-direction: column;
}

.footer-col:first-child {
  margin-right: 20px;
}

.footer-col:last-child {
  margin-left: 20px;
}

.footer-col h5 {
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-col ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-col li {
  margin-bottom: 10px;
}

.footer-col a:hover {
  text-decoration: none;
}

.footer-social {
  display: flex;
  margin-bottom: 10px;
}

.footer-social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  color: #343a40;
  border-radius: 50%;
  margin-right: 10px;
}

.footer-social a:hover {
  background-color: #f2aa85;
  color: #060606;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .footer-col:first-child {
    margin-right: 0;
  }
  
  .footer-col:last-child {
    margin-left: 0;
  }
  
  footer {
    height: auto;
    padding: 20px 0;
  }
  
  .footer-col {
    margin-bottom: 20px;
  }
  
  .footer-social {
    margin-bottom: 20px;
  }
}
