
.footer {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 40px;
  }
  
  .footer a {
    color: #212529;
    font-size: 1.5rem;
    margin-left: 20px;
  }
  
  .footer a:hover {
    color: #007bff;
  }