footer {
  background-color: #fff;
}

.text-light {
  color: #0b0b0b;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.fa-facebook {
  color: #334122;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.fa-twitter {
  color: #334122;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.fa-instagram {
  color: #334122;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.fa-youtube {
  color: #334122;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
