.FormLoginBox{
  display: flex;
  justify-content: center;
  
}
.center-form{
  margin: 0;
}
 .ContainerLogin{
  width: 100vw;
 }
 .registration-form-container{
  
  width: 500px !important;
  height: auto;
   
 }




.center-form {
    
    align-items: center;
    justify-content: center;
   
  }
  
