@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital@1&family=Jura&family=Roboto:wght@300;500&display=swap');


h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}