.Container {
    margin-top: 50px;
    text-align: center;
  }
  
  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 25px;
    margin-bottom: 30px;
  }
  
  Button {
    font-size: 20px;
    padding: 10px 20px;
    
  }

  